$orange: #FF5722;

.Form {
    form {
        position: relative;
        width: 85%;
        box-shadow: 0 4px 8px 0 rgba(53, 105, 128, 0.3),
            0 6px 20px 0 rgba(165, 200, 213, 0.41);
        padding: 1em;
        margin: 1em auto;
        border-radius: 7px;

        img{
            position: absolute;
            z-index: -1;
            opacity: .2;
            width: 80%;
            display: block;
            margin-left: 10%;
            top: 30%;
        }

        h1{
            text-align: center;
        }

        h2 {
            font-weight: 400;
            margin: 0;
            margin-top: 1.5em;
        }

        .red {
            color: red;
        }

        select {
            height: 3.5em;
            width: 100%;
            padding-left: 1em;
            padding-right: 1em;
            font-size: 0.9em;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 98%;
            background-position-y: 12px;
            border: 1px solid #b9b9b9b2;
            border-radius: 5px;
            outline: none;
            margin-right: 2rem;
            padding: 1rem;
            padding-right: 2rem;
        }

        .card {
            width: 100%;
            margin: 1em 0;

            &30 {
                width: 32%;
            }

            &45 {
                width: 48%;
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;

                &30,
                &45 {
                    width: 100%;
                }
            }

            p {
                margin: 0em;
                margin-bottom: 0.3em;
            }

            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="password"],
            input[type="date"] {
                height: 3.6em;
                width: 96%;
                padding: 0 2%;
                border: 1px solid #b9b9b9b2;
                border-radius: 5px;
                outline: none;
                font-weight: 600;
            }

            textarea {
                width: 98%;
                padding: 0.5em 1%;
                border: 1px solid #b9b9b9b2;
                border-radius: 5px;
                outline: none;
                font-weight: 600;
            }
        }

        .flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 0.5em;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

        }

        .confirm {
            width: 100%;

            label {
                display: flex;
                align-items: center;

                input {
                    max-width: 5%;
                    height: normal;
                }

                span#accept {
                    padding-left: 1em;
                    font-size: small;
                    color: $orange;
                    width: 90%;
                    display: inline-block;
                }
            }
        }

        button {
            display: block;
            margin: 3em auto 1em;
            border: none;
            outline: none;
            width: 100%;
            background-color: $orange;
            height: 35px;
            border-radius: 7px;
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
            color: #ededed;
            letter-spacing: 0.3em;
            box-shadow: 0 4px 3px rgba($color: #000000, $alpha: 0.4);

            &:disabled{
                cursor: not-allowed;
            }
        }
    }

    footer {
        text-transform: uppercase;
        text-align: center;
        font-size: small;
        font-family: "NotoSans", sans-serif;
        margin: 3em auto 1em;

        span {
            display: block;
        }
    }
}
