$font2: "Nunito", sans-serif;

* {
    font-family: $font2;
}

.App {
    width: 100%;
    height: 100vh;
    background: url('../../assets/logo.png'), linear-gradient(45deg, #ffffff, #eeeeee);
    background-size: contain;
    background-position: center;
}
