.Navbar {
    height: 4em;
    display: flex;
    align-items: center;
    padding: 0 1em;
    box-shadow: 0 3px 4px rgba($color: #000000, $alpha: .1);

    h2 {
        margin: 0;

        &:nth-of-type(2) {
            padding-left: 2em;
        }

        img {
            height: 2em;
            width: 2.5em;
        }
    }

    h3 {
        padding-left: 2em;
        font-weight: 500;
    }
}
